.nav {
  grid-area: n;
  /* background-color: rgb(199, 111, 193); */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 20px;
  background: rgb(245, 247, 249);
}

.item {
  padding-bottom: 10px;
}

.item a {
  color: #343a40;
}

.item a.activeLink {
  color: #05f;
}
