.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
  gap: 10px;
  background: #f3f4f6;
}

.app-wrapper-content {
  grid-area: c;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  background: rgb(245, 247, 249);
}
